<%= title(@user.name, "Users") %>

<h1>Your Profile</h1>
<p>
  Username: <%= @user.name %>
</p>
<p>
  Email: <%= mail_to @user.email, @user.email %>
</p>

<%= link_to "Edit Profile", edit_user_path(@user) %>
