<% if can?(:tag, @folder.activity) || current_user.admin? %>
  <%= link_to "x",
      remove_folder_tag_path(@folder, tag),
      method: :delete,
      remote: true,
      id: "delete-#{tag.name.parameterize}" %>
<% end %>

<span class='tag'>
<%= link_to tag.name,
            search_activity_folders_path(
              @folder.activity,
              search: "tag:#{tag.name}"
            )
%>
</span>
